# Compiled Java files
*.class

# Package files
*.jar
*.war
*.ear

# Virtual machine error logs
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml

# Gradle
build/
.gradle/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.settings/
bin/
.metadata
.classpath
.project

# Operating System Files
.DS_Store
Thumbs.db